

.title-product {
    text-align: center;
    margin: 32px;
}

.product-contain {
    display: flex;
    width: 100%;
    padding: 0 12px;
    
}

.product-category{
    width: 20%;
    display: block;
}

.contain-product {
    padding: 32px;
    width: 80%;
    margin-left: 32px;

}

.wrap-product-item{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    
}

.product-item{
    width: 250px;
    height: 340px;
    margin: 40px 12px;
}

.product-img {
    width: 100%;
}

.product-title{
    font-size: 18px;
    margin: 8px 0;
    font: bold;
}

.product-desc{
    margin: 8px 0;
}

.product-price{
    margin: 8px 0;
}

.product-dropbox {
    width: 250px;
    padding: 12px;
}

.product-dropbox-text {
    padding: 12px;
}


.title-brand {
    text-align: center;
    padding: 32px;
}
.wrap-brand {
    height: 252px;
}   

.inp-brand {
    padding: 12px;
    margin: 0 32px;
    width: 100%;
    margin-bottom: 12px;
}

.brand{
    overflow-y: auto;
    margin-left: 32px;
    height: 200px;
}

.brand:hover{
    cursor: pointer;
}

.contain-price {
    margin: 0 32px;
}

.wrap-price{
    margin: 12px;
}

.price-check{
    margin-right: 8px;
}

.header-product {
    display: flex;
    justify-content: space-between;
}